{% extends "bootstrap/base.html" %}

{% block title %}Bird Song{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Bird Quiz</h1>
        <form method="POST">
            <a class="btn btn-success btn-sm" href="{{ sound.web_link }}" target="_blank">Xeno-Canto</a>
        </form>
    </div>
    <audio controls style="width: 100%">
        <source src="{{ sound.path }}" type="audio/mpeg">
    </audio>
    {% if correct_species == guessed_species %}
        {% set button_style="btn-success" %}
    {% else %}
        {% set button_style="btn-danger" %}
    {% endif %}
    <a class="btn {{ button_style }} btn-lg btn-block" href="{{ url_for('index') }}">{{correct_species.vernacular_name}}</a></button>
</div>
{% endblock %}
