{% extends "bootstrap/base.html" %}

{% block title %}Bird Song Quiz{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Bird Song Quiz</h1>
    </div>
    <audio controls>
        <source src="{{ quiz.sound.path }}" type="audio/mpeg">
    </audio>
    <form method="POST">
        {% for species in quiz.choices %}
            <button type="submit" class="btn btn-primary btn-lg btn-block" name="choice_index" value="{{ loop.index - 1 }}">{{ species.vernacular_name }}</button>
        {% endfor %}
    </form>
</div>
{% endblock %}
