{% extends "bootstrap/base.html" %}

{% block title %}Bird Quiz{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Bird Quiz</h1>
    </div>
    <nav class="navbar navbar-default">
        <div class="container">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{{ url_for('index') }}">Quiz</a></li>
            <li><a href="{{ url_for('status') }}">Status</a></li>
          </ul>
        </div>
    </nav>
    <audio controls style="width: 100%">
        <source src="{{ quiz.sound.path }}" type="audio/mpeg">
    </audio>
    <form method="POST">
        {% for species in quiz.choices %}
            <button type="submit" class="btn btn-primary btn-lg btn-block" name="choice_index" value="{{ loop.index - 1 }}">{{ species.vernacular_name }}</button>
        {% endfor %}
    </form>
</div>
{% endblock %}
